.Header {
    padding: 1rem;
    margin-bottom: 2rem;
}

.Header h1 {
    color: rgb(127, 157, 209);
}

.Header nav {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.Header nav a {
    padding: 0 1rem;
    border-right: 1rem;
}